:root{
  /* Primary  */
  --brightBlue: hsl(220, 98%, 61%);
  --checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme  */
  --lightGray:  hsl(0, 0%, 98%);
  --verylightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Dark Theme  */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlue: hsl(236, 33%, 92%); /* hover */
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue: hsl(233, 14%, 35%);
  --veryDarkGrayishBlue: hsl(237, 14%, 26%);
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Poppins', sans-serif;
}

h1{
  margin-top: 0;
  font-weight: 700;
  letter-spacing: 10px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}

body{
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header  */
.header{
  background-image: url(images/bg-desktop-light.jpg);
  background-size: cover;
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
  /* color: white; */
  /* text-align: center; */
}

.to-do{
  width: 30em;
  padding: 15px;
  border-radius: 5px;
  border: none;
  /* margin-bottom: 80px; */
}

.add{
  margin: 20px 0px;
  
}
.moon{
  margin-top: 10px;
  width: 30px;
  height: 30px;

}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 40px;

}

.header-flex{
  display:inline-flex;
  column-gap: 220px;
  justify-content: center;
}

.header-title{
  color: white;
}
/* END Header  */

/* Card  */
.card{
  width: 30em;
  height: auto;
}

.lists{
  list-style: none;
  padding-left: 0%;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: var(--lightGrayishBlue);
  border-radius: 50%;
  display: inline-block;
}
.states{
  display: flex;
  column-gap: 20px;
}

.card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.to-do-list{
  display: flex;
  justify-content: center;
}

li{
  padding:15px 0px;
}

.list-flex{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
hr{
  border: 1px solid var(--lightGrayishBlue);
}

.bottom-btn{
  border: none;
  background-color: white;
  font-size: 14px;
}
/* END Card  */

/* MEDIA QUERIES */
@media screen and (max-width: 680px) {
  .header{
    background-image: url(images/bg-mobile-light.jpg);
  }
  .to-do{
    width: 22em;
    margin-bottom: 50px;
  }
  .moon{
    margin-bottom: 20px;
    margin-top:0px;
  }
  .card{
    width: 22em;
    height: auto;
  }
  .card-bottom{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

