:root{
  /* Primary  */
  --brightBlue: hsl(220, 98%, 61%);
  --checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  /* Light Theme  */
  --lightGray:  hsl(0, 0%, 98%);
  --verylightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Dark Theme  */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlue: hsl(236, 33%, 92%); /* hover */
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue: hsl(233, 14%, 35%);
  --veryDarkGrayishBlue: hsl(237, 14%, 26%);
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Poppins', sans-serif;
}

h1{
  margin-top: 0;
  font-weight: 700;
  letter-spacing: 10px;
}

body{
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header  */
.header{
  background-image: url(images/bg-desktop-light.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
  padding: 35px;
  margin: 0;
  color: white;
  text-align: center;
}

.to-do{
  width: 30em;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.moon{
  margin-top: 10px;
  width: 30px;
  height: 30px;

}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.header-flex{
  display:inline-flex;
  column-gap: 220px;
  justify-content: center;
}
/* END Header  */